body{
    background: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
header{
    background-color: red;
    height: 92px;
    width: 100%;
    padding-left: 21px;
    padding-top: 8px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    position: fixed;
    top: 0;
    z-index: 1;
    
}
header > h1{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    letter-spacing: -0.012em;
    margin-top: 5px;
    color: #ffffff;
}
header > h2{
    font-weight: 400;
    font-size: 18px;
    margin-top: 2px;
    color: #ffffff;
}
main{
    margin-left: 19px;
    margin-top: 110px;
}
section{
    margin-bottom: 108px;
}
section > p{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.018em;
    margin-bottom: 10px;
    margin-top: 17px;
}
section > div{
    display: flex;
    overflow-x: scroll;
    overflow-y: none;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
}

section > div > div{
    background: #ffffff;
    height: 216px;
    width: 172px;
    padding: 18px 14px;
    box-sizing: border-box;
    border-radius: 9px;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, .25);
    margin-right: 16px;
    position: relative;
}

section > div > div > p:nth-of-type(1){
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    margin-top: 8px;
    margin-bottom: 9px;
}

section > div > div > p:nth-of-type(2){
    font-weight: 300;
    font-size: 15px;
    color: #a6a6a6;
    margin-bottom: 15px;
}

section > div > div > p:nth-of-type(3){
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
section > div > div > ion-icon{
    color: #32B72F;
    position: absolute;
    right: 10px;
    bottom: 14px;
    font-size: 16px;
}
.barra-inferior{
    position: fixed;
    bottom: 0;
    height: 92px;
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao{
    height: 61px;
    width: 88%;
    background: #cbcbcb;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.botao > div > p{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    width: 210px;
}
.selecionado{
    box-shadow: #32B72F 0px 1px 4px, #32B72F 0px 0px 0px 3px;
}
.hidden{
    display: none;
}
.botao-liberado{
    background-color: #32B72F;
}